.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 60px 5% 30px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

/* SECTION */
.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* LINKS */
.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: white;
}

/* CONTACT */
.contact-info p {
  color: #ccc;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

/* APP DOWNLOAD */
.app-download {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.app-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #333;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.app-btn svg {
  font-size: 1.5rem;
}

.app-btn:hover {
  background: #444;
}

/* PAYMENTS */
.payment-title {
  margin-top: 30px;
}

.payment-methods {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.payment-icon {
  width: 50px;
  height: 30px;
  background: #333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer {
    display: none;
  }
  .footer-content {
    gap: 20px;
    margin-bottom: 20px;
  }
  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 12px;
  }
  .footer-links li {
    margin-bottom: 6px;
  }
  .contact-info p {
    font-size: 0.85rem;
    margin-bottom: 6px;
  }
  .app-download {
    flex-direction: column;
  }
  .footer-bottom {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
}


/* DISCLAIMER */
.footer-disclaimer {
  max-width: 980px;
  margin: 0 auto;
  color: #bdbdbd;
  font-size: 0.85rem;
  line-height: 1.4;
}

.footer-disclaimer strong {
  color: #fff;
  font-weight: 700;
}

.footer-copy {
  color: #999;
  font-size: 0.9rem;
}
